body {
    background-image: url("https://i2.wp.com/photos.smugmug.com/Nepal/Everest-Base-Camp-Kala-Pattar/i-NK4DB5D/0/X3/Kala%20Pattar%20Everest%20Predawn-X3.jpg?ssl=1");
    background-size: cover;
}

/* .container {
    align-items: flex;

} */

li {
    list-style: none;
}

span {
    display: none;
}

.button-red{
    text-align: center;
    margin: 15px;
    padding-top: 30px;
    border-radius: 10px;
    font-family: arial;
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    background-color: rgb(49, 41, 41);
}

.button-pink {
background-color: rgb(214, 39, 185);
}